/*-- default list Layout -----------------------------------------------------------*/

.shop-grid {
  @extend %flex-parent;
  div {
    @extend %flex-child;
    background-color: white;
    padding: $jr-margin;
    box-shadow: 0 2px 4px rgba(#222,0.5);
  }
  ul {
    border-top: 2px solid #e0e0e0;
    padding-top: $jr-margin;
  }
  li {
    line-height: 2;
    width: 50%;
    float: left;
  }
  img {
    width: 100%;
  }
}

/*-- specific list Layout -----------------------------------------------------------*/

.shop-grid.group {

  //temp till image, to set hieght
  img {
    height:4rem;
    background:#ddd;
  }
  //temp over
  div {
    @include jr-size(tablet) {
      @include jr-flex(2);
    }
    @include jr-size(screen) {
      @include jr-flex(3);
    }
  }
}

.shop-grid.category {

  div {
    @include jr-size(tablet) {
      @include jr-flex(3);
    }
    @include jr-size(screen) {
      @include jr-flex(4);
    }
  }
}

