/*-- default list Layout -----------------------------------------------------------*/

.shop-grid {
  @extend %flex-parent;
  @extend %section-overflow;
  div {
    @extend %flex-child;
	position: relative;
    background-color: white;
    padding: $jr-margin;
    box-shadow: 0 2px 4px rgba(#222,0.5);
  }
  ul {
    border-top: 2px solid #e0e0e0;
    padding-top: $jr-margin;
  }
  li {
    line-height: 2;
    width: 50%;
    float: left;
  }
  img {
    width: 100%;
    margin: 0 auto;
  }
}

/*-- specific list Layout -----------------------------------------------------------*/

.shop-grid.group {

  //temp till image, to set hieght
  img {
    height:4rem;
    background:#ddd;
  }
  //temp over
  div {
    @include jr-size(tablet) {
      @include jr-flex(2);
    }
    @include jr-size(screen) {
      @include jr-flex(3);
    }
  }
}

.shop-grid.category, .shop-grid.item {
  a {
    height: 100%;
    width: 100%;
  }

  div {
    @include jr-size(tablet) {
      @include jr-flex(3);
    }
    @include jr-size(screen) {
      @include jr-flex(4);
    }
  }
}

.shop-grid.item i {
}

//To Do - set up as icons and sprites
.icon-placeholder {
  position:absolute;
  width:30%;
  display: block;
  right:$jr-margin;
  font-size: 2rem;
  bottom:$jr-margin;
  @extend %h-font;
}

