/*-- default list Layout -----------------------------------------------------------*/

.shop-grid {
  @extend %flex-parent;
  @extend %section-overflow;
  & > div {
    @extend %flex-child;
    padding: $jr-margin;
  }
  ul {
    border-top: 2px solid #e0e0e0;
    padding-top: $jr-margin;
  }
  li {
    line-height: 2;
    width: 50%;
    float: left;
  }
  img {
    width: 100%;
    margin: 0 auto;
  }
}

/*-- group list Layout -----------------------------------------------------------*/

.shop-grid.group {

  //temp till image, to set hieght
  img {
    height:4rem;
    background:#ddd;
  }
  //temp over
  div {
    @include jr-size(tablet) {
      @include jr-flex(2);
    }
    @include jr-size(screen) {
      @include jr-flex(3);
    }
  }
}

/*-- category list Layout -----------------------------------------------------------*/

.shop-grid.category, .shop-grid.items {
  a {
    height: 100%;
    width: 100%;
  }

  div {
    @include jr-size(tablet) {
      @include jr-flex(2);
    }
    @include jr-size(screen) {
      @include jr-flex(4);
    }
  }
}

/*-- items list Layout -----------------------------------------------------------*/

.shop-grid.items i {
}

//To Do - set up as icons and sprites
.icon-placeholder {
  position:absolute;
  width:30%;
  display: block;
  right:$jr-margin;
  font-size: 2rem;
  bottom:$jr-margin;
  @extend %h-font;
}

/*-- single item Layout -----------------------------------------------------------*/

.shop-grid.single {}

.item-images {
  @include jr-size(tablet) {
    @include jr-flex(2);
  }
  @include jr-size(screen) {
    @include jr-flex(3);
  }
}

.item-gallery {
  @extend %flex-parent;
  li {
    @include jr-flex(4);
  }

}

.item-description {
  @include jr-size(tablet) {
    @include jr-flex(2);
  }

}

.item-sidebar {
  @include jr-size(screen) {
    @include jr-flex(6);
  }
}
