.menu-featured {
  @extend %flex-parent;
  li {
    @extend %make-it-pop;
    @include jr-flex-responsive(4,3,2);
//    @include jr-flex(1, 2);
//
//    @include jr-size(tablet) {
//      @include jr-flex(1, 4);
//    }
  }
  h3 {
    position:absolute;
    width: 100%;
    bottom:0;
    background-color: jr-rhc-color(9);
    left:0;
    padding: 1rem;
  }
  img {
    height: 100%;
    /*overwriting plugin*/
    width: 100% !important;
    padding:0 !important;
  }

}
