.menu-featured {
  @extend %flex-parent;
  li {
    @extend %make-it-pop;
    @extend %flex-4;
    height: 120px;
    overflow: hidden;
    background-color: $jr-colour-bg;
    @include jr-size(screen) {
      height: auto;
    }
  }
  h3 {
    @extend %header-block;
    position:absolute;
    bottom:0;
    left: 0;
    border-top: $jr-border;
  }
  img {
    position: relative;
    height: 100%;
    margin-top: -25%;
    /*overwriting plugin*/
    width: 100% !important;
    padding:0 !important;
    @include jr-size(screen) {
      margin-top: 0;
    }
  }

}
