/*-- default list Layout -----------------------------------------------------------*/

.shop-grid {
  div {
    position: relative;
    background-color: white;
    @extend %make-it-pop;
  }
  h3 {
    min-height: 3.5rem;
    width:100%;
  }
  a {
    width: 100%;
  }

  ul {
    @extend %flex-parent;
    padding-top: $jr-margin;
  }

  li {
    line-height: 1.5;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
}

/*-- group list Layout -----------------------------------------------------------*/

.shop-grid.group {

  li {

    @include jr-flex(1, 2);
    @include jr-size(screen) {
      font-size: 0.8rem;
    }
  }
  div {
    @include jr-flex-responsive(3,2);
  }

}

/*-- category list Layout -----------------------------------------------------------*/

.shop-grid.category, .shop-grid.items {
  a {
    height: 100%;
  }
  div {
    padding: 1rem;
    @include jr-flex-responsive(4,2);
  }

}

/*-- items list Layout -----------------------------------------------------------*/

.shop-grid.items {
  p {
//    text-align: center;
    color: jr-rhc-color(5);
  }
}

.shop-grid div, .shop-grid h3 {

}

.shop-grid div {
  @include jr-icon(before, none, $master: true) {
    right:-9px;
    top: 4rem;
  }
  @include jr-icon(after, none, $master: true) {
    bottom: $jr-margin;
    right:$jr-margin;
    transform: scale(0.33);
    transform-origin: bottom right;
  }
}

$icon-list: (
  single-phase
  three-phase
  natural-gas
  lpg
  dual-fuel
  freezer
  fridge
  fridge-freezer
);


@each $item-icon in $icon-list {
  .items .#{$item-icon} {
    @include jr-icon(after, $item-icon, $master: false);
  }
}

$info-list: (
  sale
  sold
  soon
  new
);

@each $item-icon in $info-list {
  .items .#{$item-icon} {
    @include jr-icon(before, $item-icon, $master: false);
  }
}

/*-- single item Layout -----------------------------------------------------------*/

.shop-grid.single {
  li {
    @include jr-flex-responsive(1,2);
  }
}

.item-images {

  @extend %flex-parent;
  img {
    @include jr-flex-responsive(1,6,4);
  }
  @include jr-flex-responsive(6);
}

.item-focus {
  @include jr-flex-responsive(2,2);
}

.item-sidebar {
  @include jr-flex-responsive(3,2);
  @extend %flex-parent;
  button {
    @include jr-flex-responsive(2);
  }
}

.load-marker {
  border: solid 2px pink;
}

@keyframes loader-animate {
  0%    {background-position: -896px -768px};
  100%  {background-position: -896px -888px};
}


.items-loader {
  @include jr-flex(1,1);
  @include jr-icon(before, loader, $master: true) {
    left: calc(50% - 48px - 1rem);
    animation: loader-animate 0.4s steps(5) alternate infinite;
  };
  height:32px;
}

