/*-- default list Layout -----------------------------------------------------------*/

.shop-grid,
.shop-full {
  img {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.shop-grid {
  h3, aside {
    @extend %header-block;
  }
  h3 {
    border-bottom: $jr-border;
  }
  aside {
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
    background-color: white;
  }
  a {
    width: 100%;
  }
  span {
    display: block;
    &:last-child {
      color: $jr-colour-emphasis;
    }
  }
  div {
    @extend %flex-3;
  }
}
/*-- group list Layout -----------------------------------------------------------*/

.shop-grid.group {
  ul {
    @extend %flex-parent;
  }
  li {
    line-height: 1.5;
    @extend %flex-2-fixed;
    &:hover {
      background-color: $jr-colour-hover;
    }
  }

}
/*-- category list Layout -----------------------------------------------------------*/

.shop-grid.category,
.shop-grid.items {
  a {
    height: 100%;
  }
}
/*-- single item Layout -----------------------------------------------------------*/

.item-header {
  @extend %header-block;
  border-bottom: $jr-border;
}
/*-- icons sprite Layout -----------------------------------------------------------*/

article > div {
  @include jr-icon(before, none, $master: true) {
    right: -9px;
    top: 4rem;
  }
  @include jr-icon(after,
  none,
  $master: true) {
    bottom: 0.1rem;
    right: 0.1rem;
    transform: scale(0.33);
    transform-origin: bottom right;
  }
}

$icon-list: (
  single-phase,
  three-phase,
  natural-gas,
  lpg,
  dual-fuel,
  freezer,
  fridge,
  fridge-freezer
);

@each $item-icon in $icon-list {
  article .#{$item-icon} {
    @include jr-icon(after, $item-icon, $master: false);
  }
}

$info-list: (
  sale,
  sold,
  soon,
  new
);
@each $item-icon in $info-list {
  article .#{$item-icon} {
    @include jr-icon(before, $item-icon, $master: false);
  }
}

//
//@keyframes loader-animate {
//  0%    {background-position: -896px -768px};
//  100%  {background-position: -896px -888px};
//}
//@-webkit-keyframes loader-animate {
//  0%    {background-position: -896px -768px};
//  100%  {background-position: -896px -888px};
//}
//
//
//.items-loader {
//  @include jr-flex(1,1);
//  @include jr-icon(before, loader, $master: true) {
//    left: calc(50% - 48px - 1rem);
//    animation: loader-animate 0.4s steps(5) alternate infinite;
//    -webkit-animation: loader-animate 0.4s steps(5) alternate infinite;
//  };
//  height:32px;
//}
