/*--- Page Body Elements -----------------------------------------------------*/

html {
  font-size: 12px;
  @include jr-size(screen) { font-size: 14px; };
}

body {
  background-color: $jr-bg-dark;
  min-width: 320px;
}

main {
  //background-color: ;
  background: url(#{$siteLink + '/images/rhc/body-banner-2.jpg'}) no-repeat 0 2rem/200%, $jr-bg-light;
  color: $jr-text-dark;
  box-shadow: 0 5px 10px jr-grey(1);
  flex: 1 1 auto;
  min-height: 100vh;
  @include jr-size(screen) {
    background-size: 100%;
  }
}

.container {
  height: 100%;
  margin:  0 auto;
  position: relative;
  width:100%;
  overflow: hidden;
  @include jr-size(screen) {
    width: 1000px ;
      overflow: visible;
  };
  @include jr-size(screen-hd) { width:1200px };
}

section {
  margin: jr-spacer() 0;
  box-shadow: $jr-shadow;
  background-color: white;
}
