/*--- Page Body Elements -----------------------------------------------------*/

html {
  font-size: 14px;
  @include jr-size(screen) { font-size: 18px; };
}

body {
  background-color: $jr-bg-dark;
  min-width: 320px;
 // display: flex;
  flex-direction: column;
  align-content: stretch;
  min-height: 100vh;
}

main {
  background-color: $jr-bg-light;
  color: $jr-text-dark;
  box-shadow: 0 5px 10px jr-grey(1);
  flex: 1 1 auto;
}

.container {
  height: 100%;
  margin:  0 auto;
  position: relative;
  width:100%;
  @include jr-size(screen) { width: 1000px };
  @include jr-size(screen-hd) { width:1200px };
}

.article-header {
 border-bottom: $jr-border;
  padding-bottom: $jr-margin;
}

.contact-bar {
  background-color: $jr-bg-dark;
  color: $jr-text-light;
}
