/*---header + footer ---------------------------------------------------------*/

.primary-header, .primary-footer {
  position: relative;
  width: 100%;
  background-image: linear-gradient(to right, jr-grey(1.5) 45%, jr-grey(4) 55%);
  border: 0 solid $jr-emphasis;
  color: $jr-text-light;
  box-shadow: $jr-shadow;
  z-index: 5;
}

.primary-header {
  border-bottom-width: 6px;
  .home {
    height: 250px;
  }
  .not-home {
    height: 100px;
    @include jr-size(tablet) {
      height: 150px;
    }
  }
  .container {
    background-image: url(#{$siteLink + '/images/rhc/Head-Banner.jpg'});
    background-position: center;
  }
}

.home {
  .header-logo {
    top: 0.5rem;
  }
  .header-links {
    width: 100%;
  }
  .head-title {
    display: block;
    width:100%;
    border-bottom: $jr-border;
    background-color: jr-grey(1.5);
    padding: 4px;
    margin-bottom: 4px;
  }
}

.not-home {
  .header-logo {
    bottom:0;
  }
  .header-links {
    max-width: 400px;
    width: calc(60% - #{$jr-margin});
    right: $jr-margin;
  }
  .head-title {
    display: none;
  }
}

.header-logo {
  width:40%;
  max-width: 250px;
}

.header-logo, .header-links {
  position: absolute;
}

.header-links {
  bottom: 0;
}


