/*---header + footer ---------------------------------------------------------*/

.primary-header, .primary-footer {
  position: relative;
  width: 100%;
  border: 0 solid $jr-emphasis;
  color: $jr-text-light;
  box-shadow: $jr-shadow;
  z-index: 5;
}

.primary-header {
  border-bottom-width: 6px;
  background: url(#{$siteLink + '/images/rhc/Head-Banner.jpg'}) top/cover;
  @include jr-size(screen-hd) {
    background:
      url(#{$siteLink + '/images/rhc/Head-Banner.jpg'}) center no-repeat,
      linear-gradient(to right, jr-grey(1.5) 25%, jr-grey(4) 75%);
 //   height: 250px;
    .home {
      height: 250px;
      justify-content: space-between;
    }
  }
}

.head-title {
    width:100%;
    background-image: linear-gradient(to bottom, jr-grey(3),jr-grey(1.5));
    padding: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.not-home {
  .head-title {
    display: none;
  }
  input {
    border-top-left-radius: 4px;
  }
  button {
    border-top-right-radius: 4px;
  }
  .header-links {
    font-size: 1.25rem;
    @include jr-size(screen) {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
}

.header-logo {
  max-width: 450px;
  margin: jr-spacer(0.5);
}

.header-links {
  margin-bottom: 0;

}

.form-head-search {
  input {
      margin-bottom: 4px;
    line-height: 2rem;
    width: calc(100% - 5rem);
    padding-left: 2rem;
    border-bottom-left-radius: 4px;
  }

  button {
    width: 3rem;
    border-bottom-right-radius: 4px;
    background-image: linear-gradient(to bottom, jr-red(4), jr-red(2))
  }
}

.primary-footer {
  border-top-width: 6px;
  background-color: jr-grey(2);
}
