/*- menu parts ---------------------------------------------------------------*/

nav a {
  &.active, &:active, &:hover {
    background-color: $jr-bg-hover;
  }
}

.primary-nav {
  justify-content: flex-start;
  //simple 'loading' simulator - the <nav> will be the only child of the <section> until the php <article> has loaded.
  &:only-child {
    @extend %loader-icon;
    padding-bottom: 100vh;
  }
}

.nav-menu,
.nav-breadcrumbs,
.nav-paginate {
  a {
    line-height: 2rem;
    display: inline-block;
  }
}


#menu-toggle {
  display: none;
}


.menu-btn, .touch-toggle {
  width:100%;
  display: inline-block;
}

.menu-btn {
  margin-top: -2px;
}

.not-home {
  .menu-btn {
      cursor: pointer;
    @include jr-icon(before, arrow-w) {
      margin-bottom: $jr-margin;
    };
  }
}


.touch-toggle {
  @include jr-size(screen) {
    display: none;
  }
}

#menu-toggle:checked + .nav-menu.not-home, .nav-menu.home {
    height: auto;
    @include jr-size (screen) {
      height: 18rem;
      margin-bottom: -15rem;
    }
  }


#menu-toggle:checked {

}

.nav-menu {
  z-index: 6;
  width: 100%;
  height: 2.1rem;
  position: relative;
  box-shadow: $jr-shadow;
  background-color: white;

  span {
    display: inline-block;
    width:100%;
  }
  ul {
    widtH:100%;
    overflow: hidden;
    height: calc(100% - 2rem);
    line-height: 2rem;
  }
  li {
    cursor: pointer;
    padding-left: 0.5rem;
    ul {
      position: absolute;
      min-height: 100%;
      height: auto;
      background-color: white;
      top: 0;
      transition: left 400ms;
    }
    &:active, &:hover {
      background-color: $jr-bg-hover;
    }
  }
  a {
    width: 100%;
  }
  @include jr-size(phoneOnly) {
    li {
      text-align: center;

      padding-left: 0;
      ul {
        left:100%;
      }
    }
    .active-li {
      ul {
        left:0;
      }
    }
    a {
      max-width: 250px;
    }
  }

  @include jr-size(tabletOnly) {
    li {
      @include jr-flex(1, 2);
      display: inline-block;
      font-size: 1.25rem;
      padding: 0.5rem 0.5rem;
      ul {
        left: 100%;
      }
    }
    .active-li {
      ul {
        left:0;
      }
    }
  }

  @include jr-size(screen) {
    li {
      ul {
        display: none;
        box-shadow: $jr-shadow;
        width: 200%;
        z-index: 20;
        left: 98%;
        top: -10px;
        min-height: calc(100% + 15px);
      }
    }
    li:hover {
      ul {
        display: block;
      }
    }
  }
  @include jr-size(screen) {
    width: 250px;
    margin-left: -4px;
  }
}



.nav-right {
  border-bottom: $jr-border;
  background-color: white;
  flex: 1 1 100%;
  margin-bottom: $jr-margin;
  @include jr-size(screen) {
    flex: 1 1 75%;
  }

  @include clearfix;
}



.nav-breadcrumbs,
.nav-paginate {
  a {
    border-left: $jr-border;
    padding-right: 1rem;
  }
}
.nav-breadcrumbs {
  height: auto;
}

.nav-paginate {
  a {
    padding-left: 1rem;
  }
}
