/*- top menu parts ---------------------------------------------------------------*/


.primary-nav {
  margin-bottom: jr-spacer();
  //simple 'loading' simulator - the <nav> will be the only child of the <section> until the php <article> has loaded.
  &:only-child {
    @extend %loader-icon;
    padding-bottom: 50vh;
    &::before {
      top: 5rem;
    }
  }
}

.nav-top {
  justify-content: center;
  position: relative;
  box-shadow: $jr-shadow;
  @include jr-red-grad;
  @include jr-size(tablet) {
    justify-content: space-between;
  }
  @include jr-size(screen) {
    width:calc(100% + 1rem);
    margin: -4px -0.5rem 0 -0.5rem;
  }
}



.nav-right-menu {
  display:inline-block;//non-flexbox fix
  li {
    float: left;
  }
  li + li {
    border-left: 2px solid jr-red(3);
  }
}

.top-btn {
  line-height:2;
  padding: 0.25rem 1rem;
  color:$jr-bg-light;
  &:hover {
    background-color: jr-red(3);
    color: jr-grey(8);
  }
}

.top-btn.left {
  border-right: 2px solid jr-red(3);
  display:inline-block;//non-flexbox fix
  cursor: pointer;
  width: 100%;
  @include jr-size(tablet) {
    width: 250px;
  }
}

.nav-left-menu {
  z-index: 5;
  box-shadow: $jr-shadow;
  background-color: white;
  text-align: center;
  font-size: 1.3rem;
  position: absolute;
  left: 0;
  height: auto;
  display:none;
  top:3rem;
  width: 100%;
  @include jr-size(screen) {
    width: 250px;
    text-align: left;
  }
}

.toggle-check {
  display:none
}

.toggle-check:checked + .nav-left-menu {

  display:block;
}

.nav-btn,
.touch-toggle {
  width: 100%;
  cursor: pointer;
}

.nav-btn {
  display: inline-block;
  padding: jr-spacer(0.25) jr-spacer(0.5) ;
  border-bottom: $jr-border;
  &:active, &:hover {
    background-color: $jr-bg-hover;
  }
  @include jr-size(screen) {
    font-size: 1.2rem;
  }
}

.touch-toggle {
  @include jr-size(screen) {
    display: none;
  }
  height: 2.5rem;
}

.main-menu,
.sub-menu {
  width: 100%;
}

.main-menu {
  position: relative;
  @include jr-size(phoneOnly) {
    li {
      margin:0 auto;
      background-color: rgba(white, 0.5);
      max-width: 250px;
    }
  }
  @include jr-size(tabletOnly) {
    li {
      @include jr-width(1, 2);
      display: inline-block;
      &:nth-of-type(even) {
        border-left: $jr-border;
      }
    }
  }
}

.sub-menu {
  position: absolute;
  height: auto;
  background-color: white;
  min-height: calc(100% + 2.5rem);
  top: -2.5rem;
  left: 100%;
  transition: left 400ms ease;
  background-image: url(#{$siteLink + '/images/icons/menu-base.jpg'});
  background-size: 500px 375px;
  background-position: bottom right;
  background-repeat: no-repeat;
  @include jr-size(screen) {
    border: $jr-border;
    display: none;
    box-shadow: $jr-shadow;
    width: 200%;
    z-index: 20;
    left: 98%;
    top: -3.2rem;
    min-height: calc(100% + 3.5rem);
    li {
      width: 50%;
    }
  }
}

.active-li {
  .sub-menu {
    left: 0;
    @include jr-size(screen) {
      display: block;
      left: 98%;
    }
  }
}

.nav-bottom {
  position: relative;
  border-bottom: $jr-border;
  background-color: white;
  width:100%;
}

.nav-breadcrumbs,
.nav-paginate {
  a {
    display: inline-block;
    line-height: 2.5;
    padding: 0 jr-spacer();
    &:active, &:hover {
      background-color: $jr-bg-hover;
    }
  }
  a + a {
    border-left: $jr-border;
  }
}
.nav-breadcrumbs {
  a {
    padding-right: 32px;
  }
}
.nav-paginate {
  margin: jr-spacer();
  .active {
    background-color: $jr-bg-hover;
  }
}
