/*- top menu parts ---------------------------------------------------------------*/


.primary-nav {
  margin-bottom: jr-spacer();
  //simple 'loading' simulator - the <nav> will be the only child of the <section> until the php <article> has loaded.
  &:only-child {
    @extend %loader-icon;
    padding-bottom: 50vh;
    &::before {
      top: 5rem;
    }
  }
}

.nav-top {
  justify-content: center;
  position: relative;
  box-shadow: $jr-shadow;
  z-index: $z-menu;
  @include jr-red-grad;
  @include jr-size(tablet) {
    justify-content: space-between;
  }
  @include jr-size(screen) {

    width:calc(100% + 1rem);
    margin: -4px -6px 0 -0.5rem;
  }
}

.nav-right-menu {
  display:inline-block;//non-flexbox fix
  float:right;
  li {
    float: left;
  }
  li + li {
    border-left: $jr-border-red;
  }
  @include jr-size(phoneOnly) {
    width:100%;
    border-top: $jr-border-red;
  }
}

.top-btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  color:$jr-bg-light;
  & > a {
    line-height:2;
    display: block;
  }
  &:hover {
    background-color: jr-red(3);
  }
}

.top-btn.left {
  border-left: $jr-border-red;
  border-right: $jr-border-red;
  cursor: pointer;
  width: 100%;
  background-color: jr-red(2);
  background-image: linear-gradient(jr-red(3), jr-red(1));
  @include jr-size(tablet) {
    width: 200px;
    border-radius:0 0 8px 8px;
    margin: 0 5px;
  }
}

.nav-left-menu {
  box-shadow: $jr-shadow;
  //background-color: white;
  background: url(#{$siteLink + '/images/icons/menu-base.jpg'}) no-repeat bottom right/contain, white;
  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  top:3rem;
  width: 100%;
  @include jr-size(screen) {
    width: calc(100%/3 - 1rem);
    border-bottom-right-radius:8px;
    left:4px;
    text-align: left;
  }
}

.toggle-check {
  display:none;
  & + .nav-left-menu {
    display:none;
  }
  &:checked + .nav-left-menu {
    display: block;
  }
}


.nav-btn,
.touch-toggle {
  width: 100%;
  cursor: pointer;
}

.nav-btn {
  display: inline-block;
  padding: jr-spacer(0.5);
  border-bottom: $jr-border;
  &:active, &:hover {
    background-color: $jr-bg-hover;
  }
  @include jr-size(screen) {
    padding: jr-spacer(0.25) jr-spacer(0.5);
   // font-size: 1.2rem;
  }
}

.touch-toggle {
  line-height: 2;
  background-color: $jr-emphasis;
  color: $jr-text-light;
  margin-bottom: jr-spacer(0.5);
  @include jr-size(screen) {
    display: none;
  }
}

.main-menu,
.sub-menu {
  width: 100%;
  @include jr-size(screen) {
   // border: $jr-border;
    border-left: 3px solid $jr-emphasis;
  }
}

.main-menu {
  padding: 0.5rem 0;
  position: relative;
  @include jr-size(phoneOnly) {
    li {
      margin:0 auto;
      background-color: rgba(white, 0.5);
      max-width: 250px;
    }
  }
  @include jr-size(tabletOnly) {
   // min-height: 22rem;
    li {
      @include jr-width(1, 2);
      display: inline-block;
      &:nth-of-type(even) {
        border-left: $jr-border;
      }
    }
  }
}

.sub-menu {
  position: absolute;
  height: auto;
  background-color: white;
  min-height: calc(100% + 1rem);
  top:0;
  left: 100%;
  transition: left 400ms ease;
  background-image: url(#{$siteLink + '/images/icons/menu-base.jpg'});
  background-size: 500px 375px;
  background-position: bottom right;
  background-repeat: no-repeat;
  @include jr-size(screen) {
    padding:1rem 0;
    border-radius: 5px;
    display: none;
    box-shadow: $jr-shadow;
    width: 150%;
    top: -0.5rem;
    left: 98%;
    li {
      width: 50%;
    }
  }
}

.active-li {
  .sub-menu {
    left: 0;
    @include jr-size(screen) {
      display: block;
      left: 98%;
    }
  }
}

.nav-breadcrumbs,
.nav-paginate {
  a {
    display: inline-block;
    line-height: 2.5;
    padding: 0 jr-spacer();
    &:active, &:hover {
      background-color: $jr-bg-hover;
    }
  }
  a + a {
    border-left: $jr-border;
  }
}
.nav-breadcrumbs {
  position: relative;
  border-bottom: $jr-border;
  background-color: white;
  width:100%;
  a {
    padding-right: 32px;
  }
}
.nav-paginate {
  margin: jr-spacer(0.5);
  padding: 0 jr-spacer(0.5);
  .active {
    background-color: $jr-bg-hover;
  }
}
