/*---header ---------------------------------------------------------------------------*/

.primary-header, .primary-footer {
  position: relative;
  width: 100%;
  border: 0 solid $jr-emphasis;
  color: $jr-text-light;
  box-shadow: $jr-shadow;
}

.primary-header {
  background: url(#{$siteLink + '/images/rhc/Head-Banner.jpg'}) top/cover;
  .container {
    padding-top: jr-spacer(0.5);
  }
  @include jr-size(screen) {
    border-bottom-width: 6px;
  }
  @include jr-size(screen-hd) {
    background: url(#{$siteLink + '/images/rhc/Head-Banner.jpg'}) center no-repeat,
      linear-gradient(to right, jr-grey(1.5) 25%, jr-grey(4) 75%);
    .home {
      height: 250px;
      padding-top: jr-spacer(1);
    }
  }
}

.not-home {
  .header-logo, .header-links {
    margin-bottom: 0;
  }
  .header-logo {
    max-width: 300px;
  }
  @include jr-size(phoneOnly) {
    h2 {
      display:none;
    }
  }
}

/* -----------  header fixed version --------------------------------------------------*/
.is-fixed {
  top:0;
  position: fixed;
  font-size: 0.9;

  &.left {
    @include jr-red-grad;
    box-shadow: $jr-shadow;
    padding-bottom: 5px;
    left:0;
    width:100%;
    border-bottom: $jr-border-red;
    z-index: $z-menu;
  }
  &.right {
    display: none;
    right:0;
    background-color: jr-red(4);
    padding: 4px jr-spacer();
    width:100%;
    z-index: $z-modal;
    &::before {
      content: "Search";
      position: absolute;
      right:100%;
      line-height: 2;
      font-size: 1.5rem;
      font-family: $serif;
    }
    h2 {
      display: none;
    }
  }
  @include jr-size(tablet) {
    &.left {
      top: 4rem;
    }
    &.right {
      display: block;
      height:4rem;
    }
  }
  @include jr-size(screen) {
    &.left {
      top:0;
    }
    &.right {
      width: 40%;
      background: none;
    }
  }
}

.js-filler {
  display: block;
  width: jr-spacer();
}

/* -----------  footer  ---------------------------------------------------------------*/

.primary-footer {
  border-top-width: 6px;
  background-color: $jr-bg-dark;
  padding-top: jr-spacer();
  li {
    margin-top: 0.5rem;
  }
  img {
    display: inline
  }
  @include jr-size(phoneOnly) {
    text-align: center;
  }
}

.copyright {
  text-align: center;
  padding-bottom: jr-spacer();
}
