/*--- Page Body Elements -----------------------------------------------------*/

.container {
  max-width: 1000px;
  height: 100%;
  margin:  0 auto;
  position: relative;
  @include jr-size(screen-hd) { max-width:1200px };
}

section {
  background-color: $jr-bg-light;
  color: $jr-text-dark;
  position: relative;
  box-shadow: 0 5px 10px jr-grey(1);
}

article {

  @extend %flex-parent;

  & > div {
    background-color: white;
    @extend %make-it-pop;
  }
}

.page-header {
  margin: 1rem $jr-margin;
  @extend %flex-1;
}
