/*---header + footer ---------------------------------------------------------*/

.primary-header, .primary-footer {
  position: relative;
  width: 100%;
  background-color: jr-grey(2);
  border: 0 solid $jr-emphasis;
  color: $jr-text-light;
  padding: 5px 0 ;
  height: 11rem;
  box-shadow: $jr-shadow;
  z-index: 5;
  @include jr-size(screen) {
    height: 9rem;
  }
}

.primary-header {
  border-bottom-width: 5px;
}

.header-logo, .header-links {
  position: absolute;
  bottom:0;
}

.header-links {
  right: 0;
  max-width: 400px;
  width: calc(60% - 1rem);
  border-left: solid 3px;
  padding-left: 5px;
 // bordeR:solid 1px pink;
  line-height: 38px;
  ul, form {
    float:left;
  }
  li {
    margin-right: 8px;
    @include jr-icon(before) {
      transform-origin: top left;
    }
  }
 // height: 7rem;
}


.header-logo {
  width: calc(40% - 1rem);
  max-width: 250px;
}

.header-social {
  li {
    float: left;
    width: 26px;
    &::before {
      transform: scale(0.2);
    }
    @include jr-size(screen) {
      width: 38px;
      &::before {
        transform: scale(0.3);
      }
    }
  }
}

.header-contact {
  li {
    padding-left: 32px;
    &::before {
      transform: scale(0.5);
      left: 0;
      top: 3px;
    }
  }
}



.header-search {
  z-index: 5;
  width:calc(100% - 146px);
  margin-right:8px;

  @include jr-size(screen) {
    input:focus {
      width: calc(100% + 134px);
      margin-right: -138px;
    }
  }
}

.primary-footer {
  border-top-width: 5px;
}

.footer-menu {
  li {
    float:left;
    padding: 0.25rem;
    border-right: 3px solid;
  }
}

.copyright {
  padding: 0.25rem;
}
