/*- menu parts ---------------------------------------------------------------*/

nav a {
  &.active, &:active, &:hover {
    background-color: $jr-bg-hover;
  }
}


.primary-nav {
  @extend %flex-parent;
  //simple loader. the <nav> will be the only child of the <section> until the php <article> has loaded.
 &:only-child {
    @include jr-icon(before, loader) {
      left: calc(50% - 48px - 1rem);
      top: 3rem;
      top: 25vh;
      animation: loader-animate 0.4s steps(5) alternate infinite;
      -webkit-animation: loader-animate 0.4s steps(5) alternate infinite;
    };
    height:100vh;
 }
}

.nav-main,
.nav-breadcrumbs,
.nav-paginate {
  height: 2rem;
  a {
    line-height: 2rem;
    padding: 0 1.5rem;
    position: relative;
    display: inline-block;
  }
}

a.arrow-r, .menu-arrow-r a {
  @include jr-icon(before) {
    top: 0.5rem;
    left: 0.2rem;
    transform: scale(0.3);
    transform-origin: top left;
  }
}

//lazy workaround because pain to add wp_nav_menu anchor classes
.menu-arrow-r a {
  @extend .arrow-r;
}

.nav-main {
  z-index: 6;
  width: 100%;
  background-color: white;
  @extend %make-it-pop;
  &:not(.home) {
    @include jr-icon(before, arrow) {
      top: 0.2rem;
      left: 0.5rem;
      transform: scale(0.5);
      transform-origin: top left;
    }
  }

  &.open {
    height: auto;
    //transition: 300ms ease;
    @include jr-icon(before, close, false) {
      top: 0.1rem;
    }
  }

  ul {
    @extend %flex-parent-edgeless;
    overflow: hidden;
    height: calc(100% - 2rem);
    line-height: 2rem;

  }

  h2 {
    cursor: pointer;
    z-index: 10;
    text-align: center;
    width: 100%;
    background-color: $jr-emphasis;
    line-height: 2rem;
    padding: 0.25rem 0.5rem 0;
    margin-top: -0.25rem;
  }

  li {
    cursor: pointer;
    padding-left: 0.5rem;
    width:100%;
    &:active, &:hover {
      background-color: $jr-bg-hover;
    }
  }

  a {
    width: 100%;
  }

  @include jr-size(phoneOnly) {
    h2, li {
      text-align: center;
      padding-left: 0;
    }
  }

  @include jr-size(tabletOnly) {
    li {
      @include jr-flex(1,2);
      font-size: 0.9rem;
    }
  }

  @include jr-size(screen) {
    width: 250px;
    margin-left: -4px;
    font-size: 0.8rem;

    li {
      ul {
        display: none;
        position: absolute;
        left: 0;
        background-color: white;
        box-shadow: $jr-shadow;
        min-height: calc(100% + 15px);
        height: auto;
        top: -10px;
        width: 200%;
        left: 98%;
        font-size: 1.1rem;
        z-index: 10;
      }
    }

    li:hover {
      ul {
        display: block;
      }
    }
    &.home,
    &.open {
      height: 18rem;
      margin-bottom: -14.5rem;
    }
  }
}

.nav-right {
  border-bottom: $jr-border;
 // overflow: hidden;
  flex: 1 1 100%;
  @include jr-size(screen) {
    flex: 1 1 75%;
  }
  @include clearfix;
}



.nav-breadcrumbs,
.nav-paginate {
  a {
    border-left: $jr-border;
  }
}

.items-nav {
  a {
    float: left;
  }
  div {
    @extend %make-it-pop;
  }
}
