/*-- index page elements -----------------------------------------------------*/

.menu-featured {
  @extend %flex-parent;
  li {
    @extend %make-it-pop;
    @extend %flex-4;
    height: 120px;
    overflow: hidden;
    background-color: $jr-bg-dark;
    @include jr-size(screen) {
      height: auto;
    }
  }
  h3 {
    @extend %header-block;
    position:absolute;
    bottom:0;
    left: 0;
    border-top: $jr-border;
  }
  img {
    position: relative;
    height: 100%;
    margin-top: -25%;
    /*overwriting plugin*/
    width: 100% !important;
    padding:0 !important;
    @include jr-size(screen) {
      margin-top: 0;
    }
  }

}

.carousel-container {
  width:100%;
  max-width:750px;
  overflow: hidden;
}

.carousel-float {
  width:300%;
  li {
    width: percentage(1 / 3);
    float:left;
  }
}

.carousel-buttons {
  position: absolute;
  right:0;
  width: 200px;

  a {
    width:100%;
    border-bottom: $jr-border;
  }
}
