/*-- single item Layout ------------------------------------------------------*/

.item-header {
  @extend %header-block;
  border-bottom: $jr-border;
}



.item-container {
  @extend %flex-1;
  @extend %flex-parent;
  @extend %make-it-pop;
  @include jr-size(screen) {
    flex-direction: row-reverse;
  }
  background-color: white;

}

.item-gallery {
  @extend %flex-3;
}

.item-info {
  @extend %flex-2;
  border: $jr-border;
  border-width: 0 1px;
}

.item-sidebar {
  @include jr-flex(1,1);

  @include jr-size(screen) {
    @include jr-flex(1,6);
  }
}

.item-thumbs {
  @extend %flex-parent-edgeless;
  li {
    @extend %flex-4;
  }


}

.item-power {
  @include jr-icon(after) {
    transform: scale(0.33);
    transform-origin: top left;
  };
  border: solid 2px red;
}
// @extend %big-red-button
