/*-- default list Layout -----------------------------------------------------------*/

/*-- group list Layout -----------------------------------------------------------*/

.shop-tile.group {
  @extend %flex-3;
  ul {
    width:100%;
    @extend %flex-parent-edgeless;
  }
  li {
    line-height: 1.5;
    @include jr-flex(1,2);
    &:hover {
      background-color: $jr-bg-hover;
    }
  }
}
/*-- category list Layout -----------------------------------------------------------*/

.shop-grid.category,
.shop-grid.items {

}

.shop-tile {
  background-color: white;
  @extend %make-it-pop;
  @extend %flex-4;
  a {
    width: 100%;
  }
  @include jr-icon(before) {
    right:-9px;
    top: 3.5rem;
  }
  @include jr-icon(after) {
    bottom: 0.1rem;
    right:0.1rem;
    transform: scale(0.33);
    transform-origin: bottom right;
  }

  padding-bottom: 2rem;

  div {
    @extend %header-block;

    &:first-child {
      border-bottom: $jr-border;
    }
    &:last-child {
      font-size: 0.9rem;
      position: absolute;
      bottom: 0;
      border-top: $jr-border;
      background-color: white;
    }
  }
}
.items-nav {
  @extend %flex-parent;
}
