/*--- common page elements + defaults -------------------------------------------------*/

/*title block*/
%header-block {
  width: 100%;
  background-color: $jr-bg-hover;
  min-height: 3rem;
  padding: 0.1rem jr-spacer();
}

/*button style*/
button, .btn-red {
 // @extend %text-icon;
 // text-align: left;
  border: none;
  line-height: 2.25rem;
  background-color: $jr-bg-hover;
}

.btn-red {
  background-color: $jr-emphasis;
  color: $jr-text-light;
}
