/*--- common page elements + defaults -------------------------------------------------*/

%make-it-pop {
  box-shadow: $jr-shadow;
  position: relative;
  margin-bottom: $jr-margin;
}

%header-block {
  width: 100%;
  background-color: $jr-bg-hover;
  min-height: 3rem;
  padding: 0.1rem 1rem;
}

%btn-red,%btn-grey  {
 // @extend %text-icon;
  text-align: left;
  border: none;
  line-height: 2rem;
}

%btn-red {
  background-color: $jr-emphasis;
  color: $jr-text-light;
}

%btn-grey {
   background-color: $jr-bg-hover;
}
