
/* --- contact form default -----------------------------------------------------------*/

form {
  position: relative;
  @include clearfix;
}

input, textarea {
  //display: inline-block;
  box-shadow: inset $jr-shadow;
  padding:0;
  background-color: white;
  color: $jr-text-dark;
  border: none;
}

label, input, button {
  float: left;
}

input, button {
  font-size: 1.2rem;
  height:2rem;
}

input[type="search"] {

}

.form-search {
  margin: jr-spacer(0.5) auto;
  display: block;

  input, button {
     margin: 4px 0 ;
  }

  input {

    line-height: 2rem;
    width: calc(100% - 5rem);
    padding-left: 2rem;
    border-radius:4px 0 0 4px;
  }


  button {
    width: 3rem;
    border-radius:0 4px 4px 0;
    background-image: linear-gradient(to bottom, jr-red(4), jr-red(2))
  }
}

.search-out {
  &:empty {
    display: none;
  }

  li {
    border-bottom: $jr-border-dark;
    font-size: 1.5rem;
    font-weight: bold;
  }
  li:hover, li:focus {
    background: jr-grey(3);
  }
  span {
    font-size: 0.75rem;
    color:$jr-text-hover;
  }
  a {
    width:100%;
  }
  position: absolute;
  width:100%;
  top: 4.5rem;
  z-index: 100;
}

//form {
//  position: relative;
//  color: $jr-text-dark;
//}
//
//input {
//  width: calc(100% - 4px);
//  height:34px;
//  background-color: $jr-bg-light;
//  padding: 2px;
//  border: none;
//  @include jr-size(phoneOnly) {
//    &:focus + label {
//      display:none;
//    }
//  }
//}
//
//label {
//  @extend %text-icon;
//
//  pointer-events: none;
//  position:absolute;
//  left:4px;
//  top:0;
//}
//
//@include jr-size(screen) {
//  input, form label {
//    transition: transform 300ms ease, width 300ms ease;
//  }
//  input {
//    &:focus + label {
//      transform: translateX(calc(-20px - 100%));
//      color: $jr-text-light;
//    }
//  }
//}



//input[name="search"] {
//  & + label {
//    @include jr-icon(before, search, false)
//  }
//  &:focus + label {
//    @include jr-icon(before, search-w, false)
//  }
//}
//
//input[name="phone"] {
//  & + label {
//    @include jr-icon(before, phone, false)
//  }
//  &:focus + label {
//    @include jr-icon(before, phone-w, false)
//  }
//}
//
//input[name="email"] {
//  & + label {
//    @include jr-icon(before, email, false)
//  }
//  &:focus + label {
//    @include jr-icon(before, phone-w, false)
//  }
//}
