
/* --- form defaults ------------------------------------------------------------------*/

input, button, textarea {
  display: block;
  float:left;
  font-size: 1.2rem;
}

.text-input {
  //box-shadow: inset $jr-shadow;
  padding:5px;
  background-color: white;
  color: $jr-text-dark;
  margin-bottom: jr-spacer(1);
}

webkit-input-placeholder {
   color: $jr-text-hover;
}
::-moz-placeholder {
   color: $jr-text-hover;
}
:-ms-input-placeholder {
   color: $jr-text-hover;
}

/* --- contact form -------------------------------------------------------------------*/

.form-contact {
  p {
    margin:0;
    display: inline-block;
    width:100%;
    @include jr-size(screen) {
      padding: 0 jr-spacer(2);
    }
  }
  .text-input {
    width:100%;
    border: $jr-border-dark;
  }
  label {
    width:100%;
    border-top: $jr-border-dark;
    float: left;
    text-align: right;
    padding: 5px;
  }
  textarea {
    height:10rem;
    resize: vertical;
  }
  .button {
    float:right;
    width:9rem;
  }
  @include jr-size(screen) {
    .text-input {
      width:calc(100% - 7rem);
    }
    label {
      width:7rem;
      font-size: 0.8rem;
    }
  }
}

@include jr-size(tablet) {
  .form-contact.wider p {
    float: left;
    width: 50%;
    padding: jr-spacer();
  }
}

/* --- search form --------------------------------------------------------------------*/

.form-search {
  position: relative;
  .text-input {
    width: calc(100% - 5rem);
    border:0;
  }
  button {
    width: 4rem;
    padding:3px;
  }
}

.search-out {
  position: absolute;
  width:calc(100% + 5px);
  top: 4.5rem;
  left:-5px;
  z-index: 100;

  &:empty {
    display: none;
  }

  li {
    border-bottom: $jr-border-dark;
    font-size: 1.5rem;
    font-weight: bold;
  }
  span {
    font-size: 0.75rem;
    color:$jr-text-hover;
  }
  a {
    width:100%;
    padding-left: jr-spacer(0.5);
  }
  a:hover, a:focus {
    background: jr-grey(3);
    color:white;
  }
}

