
/* --- contact form default -----------------------------------------------------------*/

form {
  position: relative;
  @include clearfix;
}

input, textarea {
  //display: inline-block;
  box-shadow: inset $jr-shadow;
  padding:0;
  background-color: white;
  color: $jr-text-dark;
  border: none;
}

label, input, button {
  float: left;
}

input, button {
  font-size: 1.2rem;
  height:2rem;
}

input[type="search"] {

}

::-webkit-input-placeholder {
   color: $jr-text-hover;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $jr-text-hover;
}
:-ms-input-placeholder {
   color: $jr-text-hover;
}

.form-search {
  margin: jr-spacer(0.5) auto;
  display: block;

  input, button {
     margin: 4px 0 ;
  }

  input {

    line-height: 2rem;
    width: calc(100% - 5rem);
    padding-left: 2rem;
    border-radius:4px 0 0 4px;
  }


  button {
    width: 3rem;
    border-radius:0 4px 4px 0;
    background-image: linear-gradient(to bottom, jr-red(4), jr-red(2))
  }
}

.search-out {

  position: absolute;
  width:100%;
  top: 4.5rem;
  z-index: 100;

  &:empty {
    display: none;
  }

  li {
    border-bottom: $jr-border-dark;
    font-size: 1.5rem;
    font-weight: bold;
  }
  span {
    font-size: 0.75rem;
    color:$jr-text-hover;
  }
  a {
    width:100%;
    padding-left: jr-spacer(0.5);
  }
  a:hover, a:focus {
    background: jr-grey(3);
    color:white;
  }
}

