/*-- social media ---------------------------------------------------------------------*/
.social-links,
.social-links-small {
  text-align: center;
  font-size: 0.5rem;
  color: $jr-text-dark;
  a {
    display: inline-block;
    margin-right: jr-spacer(0.5);
  }
}

.social-links {
  a {
    width: 64px;
    height: 64px;
    @include jr-size(screen) {
      width: 96px;
      height: 96px;
    }
  }
}

.social-links-small {
  a {
    width: 48px;
    height: 48px;
    @include jr-size(screen) {
      width: 64px;
      height: 64px;
    }
  }
}

.social-shares {
  .facebook {
    background-color: #3D5A98;
  }
  .twitter {
    background-color:  #5FA9DD;
  }
}
