/*-------------------------sprite layouts + settings ----------------------------------*/

//temp link for image-relativity;
$siteLink: /rhc_online;

//size of sprite grid
$sprite-grid-size: 128px;

// name: x y,

$iconMap: (
  //black icons
  quote-r:  1 0,
  quote-l:  2 0,
  face:     3 0,
  close:    0 1,
  tick:     1 1,
  plus:     2 1,
  menu:     3 1,
  arrow:    4 1,
  search:   5 1,
  arrow-r:  6 1,
  arrow-l:  7 1,
  question: 0 2,
  basket:   1 2,
  phone:    2 2,
  message:  3 2,
  email:    4 2,
  expand:   5 2,
  cube:     6 2,
  list:     7 2,

  //white icons
  face-w:     4 0,
  quote-r-w:  5 0,
  quote-l-w:  6 0,
  close-w:    0 3,
  tick-w:     1 3,
  plus-w:     2 3,
  menu-w:     3 3,
  arrow-w:    4 3,
  search-w:   5 3,
  arrow-r-w:  6 3,
  arrow-l-w:  7 3,
  question-w: 0 4,
  basket-w:   1 4,
  phone-w:    2 4,
  message-w:  3 4,
  email-w:    4 4,
  expand-w:   5 4,
  cube-w:     6 4,
  list-w:     7 4,

  //power
  single-phase: 0 5,
  three-phase:  1 5,
  natural-gas:  2 5,
  lpg:          3 5,
  dual-fuel:    4 5,

  //chilled
  freezer:        5 5,
  fridge:         6 5,
  fridge-freezer: 7 5,

  //banner flags
  sale:   0 6,
  sold:   1 6,
  soon:   2 6,
  new:    3 6,
  sale2:  4 6,
  sold2:  5 6,
  soon2:  6 6,
  new2:   7 6,

  //social
  facebook: 0 7,
  twitter:  1 7,
  linkedin: 2 7,

  //loader, start and end of animation. for reference only
  loader-1: 3 7,
  loader-2: 3.8 7,
);

%has-icon-before, %has-icon-after {
  position: relative;
}

@each $pseudo in (before, after) {
  %has-icon-#{$pseudo} {
    &::#{$pseudo} {
      pointer-events: none;
      content: '';
      position: absolute;
      background-image: url(#{$siteLink + '/images/icons/RHC-Icons.min.svg'});
      height: $sprite-grid-size;
      width: $sprite-grid-size;
 //     background-repeat: no-repeat;
    }
  }
}

@mixin jr-icon($pseudo,$name: parent) {
  @if $name == parent {
    &::#{$pseudo} {
      @content;
    }
  }

  @else {
    &::#{$pseudo} {
      $sprite-ref: map-get($iconMap, $name);
      $sprite-coord-x: -(nth($sprite-ref, 1) * $sprite-grid-size);
      $sprite-coord-y: -(nth($sprite-ref, 2) * $sprite-grid-size);
      background-position: $sprite-coord-x $sprite-coord-y;

      @content;
    }
  }
}

.text-icon {
  padding-right: 32px;
  &::before {
    right: 0;
    transform-origin: top right;
  }
}

.text-icon-left {
  padding-left: 32px;
  &::before {
    left: 0;
    transform-origin: top left;
  }
}

.text-icon, .text-icon-left {
  @extend %has-icon-before;
  line-height: 1.2;
  &::before {
    top: calc(50% - 12px);
    transform: scale(0.1875);
    @include jr-size(screen) {
      // top: 2px;
    }
  }
}

%btn-icon-base {
  @extend %has-icon-after;
  &::after {
    transform-origin: bottom right;
    bottom: 0;
    right: 0;
  }
}

.btn-icon {
  @extend %btn-icon-base;
  &::after {
    transform: scale(0.5);
  }
  @include jr-size(screen) {
    &::after {
      transform: scale(0.75);
    }
  }
}

.btn-icon-lrg {
  @extend %btn-icon-base;
  &::after {
    transform: scale(0.75);
  }
  @include jr-size(screen) {
    &::after {
      transform: scale(1);
    }
  }
}

.btn-icon-small {
  @extend %btn-icon-base;
  &::after {
    transform: scale(0.375);
  }
  @include jr-size(screen) {
    &::after {
      transform: scale(0.5);
    }
  }
}

%loader-icon {
  @extend %has-icon-before;
  &::before {
    height: $sprite-grid-size;// / 4;
    width: $sprite-grid-size * 1.125;// * 2;
    top:0;
    left: calc(50% - 72px);
            animation: loader-animate 0.4s steps(4) alternate infinite;
    -webkit-animation: loader-animate 0.4s steps(4) alternate infinite;
  }
}

@keyframes loader-animate {
  0%    {background-position: #{-3.125 * $sprite-grid-size  -7 * $sprite-grid-size}};
  100%  {background-position: #{-3.875 * $sprite-grid-size  -7 * $sprite-grid-size}};
}
@-webkit-keyframes loader-animate {
  0%    {background-position: #{-3.125 * $sprite-grid-size  -7 * $sprite-grid-size}};
  100%  {background-position: #{-3.875 * $sprite-grid-size  -7 * $sprite-grid-size}};
}

$icons-after: (
  single-phase,
  three-phase,
  natural-gas,
  lpg,
  dual-fuel,
  freezer,
  fridge,
  fridge-freezer,
  linkedin,
  twitter,
  facebook,
  quote-l,
  close-w
);

@each $item-name in $icons-after {
  .#{$item-name} {
    @include jr-icon(after, $item-name);
  }
}

$icons-before: (
  sale,
  sold,
  soon,
  new,
  phone-w,
  phone,
  question-w,
  list,
  search,
  search-w,
  basket-w,
  email-w,
  email,
  arrow,
  arrow-r,
  arrow-r-w,
  arrow-l,
  arrow-l-w,
  menu-w,
  close-w,
  tick-w,
  twitter,
  facebook,
  expand-w
);

@each $item-name in $icons-before {
  .#{$item-name} {
    @include jr-icon(before, $item-name);
  }
}



