/*-- typegraphy ----------------------------------------------------------------------*/

//GoogleFonts
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Kreon:400,700);

$sans-serif: "PT+Sans", Helvetica, Arial, sans-serif;
$serif: "Kreon", Cambria, Times New Roman, Times, serif;

%text-reset {
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: normal;
}

%h-font {
  font-family: $serif;
  display: block;

}

%p-font {
  font-family: $sans-serif;
  display: inline-block;
}

h1 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 2.5em;
  padding-bottom: 0.25em;
  font-weight: bold;
}

h2  {
  @extend %text-reset;
  @extend %h-font;
  font-size: 1.75em;
  padding-bottom: 0.1em;

}

h3 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 1.25em;
}

h4 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 1.1em;
}

h5, h6 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 1em;
}


p {
  @extend %text-reset;
  @extend %p-font;

  & + p {
    margin-top: jr-spacer(0.5);
  }
}



strong.greater {
  color:$jr-emphasis;
}

.text-right {
  float: right;
}

//special formatting for markdown elements
.content-format {
  ul {
    padding-left: jr-spacer();
    list-style: disc outside;
  }

  ol {
    padding-left: jr-spacer();
    list-style: decimal outside;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: jr-spacer(0.25);
    background-color: jr-grey(9.5);
    border-left: solid jr-spacer(0.25) jr-grey(8);
  }

  & > * + * {
    margin-top: jr-spacer(0.5);
  }
}

