/*-- typegraphy ----------------------------------------------------------------------*/

//GoogleFonts
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Kreon:400,700);

$sans-serif: "PT+Sans", Helvetica, Arial, sans-serif;
$serif: "Kreon", Cambria, Times New Roman, Times, serif;

%text-reset {
  margin: 0;
  padding: 0;
  color: inherit;
}

%h-font {
  font-family: $serif;
  display: block;
}

%p-font {
  font-family: $sans-serif;
  display: inline-block;
}

h1 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 2.5em;
  padding-bottom: 0.25em;
  font-weight: bold;
}

h2  {
  @extend %text-reset;
  @extend %h-font;
  font-size: 1.75em;
  padding-bottom: 0.1em;
  font-weight: normal;
}

h3 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 1.25em;
  font-weight: normal;
}

//h4 {
//  @extend %text-reset;
//  @extend %h-font;
//  font-size: 1.1em;
//  text-align: center;
//  font-weight: normal;
//  }


p {
  @extend %text-reset;
  @extend %p-font;
}

em.greater {
  color:$jr-emphasis;
  font-weight: 700;
  font-style: normal;
}

.text-right {
  float: right;
}

