/*-- typegraphy ----------------------------------------------------------------------*/

//GoogleFonts
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Kreon:700);

$sans-serif: "PT+Sans", Helvetica, Arial, sans-serif;
$serif: "Kreon", Cambria, Times New Roman, Times, serif;

%text-reset {
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: inherit;
}

%h-font {
  font-family: $serif;
  display: block;
}

%p-font {
  font-family: $sans-serif;
  display: inline-block;
}

h1 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 2.5em;
  padding-bottom: 0.25em;
}

h2  {
  @extend %text-reset;
  @extend %h-font;
  font-size: 1.75em;
  padding-bottom: 0.1em;
}

h3 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 1.25em;
}

h4 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 1.1em;
  text-align: center;
  }


p {
  @extend %text-reset;
  @extend %p-font;
}

em {
  color:$jr-emphasis;
  font-weight: 700;
  font-style: normal;
}

em.lesser {
  color:inherit;
  font-weight: inherit;
  font-style: italic;
}


