.contact-bar {
  background-color: jr-grey(2);
  color: $jr-text-light;
}

.social-links {
  text-align: center;
  font-size: 0.5rem;
  color: $jr-text-dark;
  a {
    width: 64px;
    height: 64px;
    display: inline-block;
    margin-right: jr-spacer(0.5);
    @include jr-size(screen) {
      width: 96px;
      height: 96px;
    }
  }
}

.testimonials {
  border-bottom: $jr-border-dark;
  p, h4 {
    width: 100%;
    margin-bottom: jr-spacer();
  }
  p {
    text-align: center;
    font-size: 1.25rem;
  }
  h4 {
    text-align: right;
  }
}


.form-contact, .social {
  margin: jr-spacer() 0;
  h2 {
    margin-bottom:jr-spacer();
  }
}

.form-contact {
  &:nth-last-child(2) { //checks if the social half is there or not
    border-right: $jr-border-dark;
  }
  input, textarea {
    border-top: $jr-border-dark;
    margin-bottom: jr-spacer();
    padding-left: 4px;
    float: left;
  }
  textarea {
    height: 10rem;
    resize: vertical;
    @include jr-width(1, 1);
    @include jr-size(screen) {
      @include jr-width(5, 6);
    }
  }
  input {
    @include jr-width(4, 6);
    margin-right: percentage(1/6);


  }
  label {
    border-top: $jr-border-dark;
    font-size: 1rem;
    padding-right: 4px;
    @include jr-width(1, 1);
    @include jr-size(screen) {
      text-align: right;
      @include jr-width(1, 6);
    }
  }
  button {
    @include jr-width(2, 6);
    margin-left: percentage(4/6);
  }
}
