/*-- feedback -------------------------------------------------------------------------*/
.testimonials {
  p, h3 {
    width: 100%;
    margin-bottom: jr-spacer();
  }
  p {
    text-align: center;
    font-size: 1.25rem;
  }
  h3 {
    text-align: right;
    font-style: italic;
  }
}


/*-- map ------------------------------------------------------------------------------*/
.map-container {

  margin-bottom: jr-spacer();
  @include jr-width(1,1);
  @include jr-size(tablet) {
    @include jr-width(1,2);
  }
  @include jr-size(screen) {
    @include jr-width(3,4);
  }
}

.contact-map {
  width:100%;
  height: 300px;
  border:none;
  @include jr-size(screen) {
    height: 500px;
  }
}

