/*-- index page elements -----------------------------------------------------*/

.menu-featured {
  li {
    box-shadow: $jr-shadow;
    position: relative;
    @extend .flex-4;
    height: 120px;
    display: block;
    @include jr-size(screen) {
      height: auto;
    }
    overflow: hidden;
    background-color: $jr-bg-dark;
  }
  h3 {
    @extend %header-block;
    position:absolute;
    bottom:0;
    left: 0;
    border-top: $jr-border;
  }
  img {
    position: relative;
    height: 100%;
    margin-top: -25%;
    /*overwriting plugin*/
    width: 100% !important;
    padding:0 !important;
    @include jr-size(screen) {
      margin-top: 0;
    }
  }

}

.carousel {
  background-color: jr-red(2.5);
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  z-index: 0;
  &::before {
    content: "";
    display: block;
    padding-top: calc(25% + 1.5rem);
  }
}

.carousel-container {
  position: absolute;

  font-size: 1rem;
  left:0;
  width:100%;
    bottom: 2.5rem;
    top: 1.5rem;
  @include jr-size(tablet) {
    font-size: 1.4rem;
      box-shadow: $jr-shadow;
  }
  a {
    padding:0;
  }
}



.slide {
  position: absolute;
  width: 100%;
  bottom: 0;
  top:0;
  text-align: center;
  left:100%;
  transition: left 600ms ease;

  a {
    height: 100%;
  }
}

.is-active {
  z-index: 5;
  left: 0;

  [class^='slider-'] {
    transform: translateX(0);
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(0, .50, .50, 1);
  }
}

.go-away {
  left:-100%;
}

.carousel-tabs {
  background-color: white;
  width: 100%;
  height: 2.5rem;
}

.tab {
  line-height: 2.5rem;
  font-weight: bold;
  border-right: $jr-border;
  float:left;
  cursor: pointer;
  text-align:center;
  transition: 400ms;
  width: calc(100% /6);
//  display: block;
  background-color: white;

  &:hover {
    background-color: $jr-bg-hover;
  }
  &.active {
    background-color: $jr-emphasis;
    color:$jr-text-light;
  }
}


/*-- customisable carousel parts -----------------------------------------------------*/


%slide-all {
  width:100%;
  position: absolute;
  transform: translateX(100%);
}

.slider-image {
  top:0;
  left:0;
}

.slider-title {
  @extend %slide-all;
  transition-delay: 300ms ;
  top: 5%;
}

.slider-text {
  @extend %slide-all;
  transition-delay: 400ms ;
  top: 25%;
  span {
    display: block;
  }
}

.slider-link {
  @extend %slide-all;
  bottom: 5%;
  text-decoration: underline;
  transition-delay: 500ms ;
}

.go-left {
  left:-25%;
}

.go-mid {
  left: 0%;
}

.go-right {
  left: 25%;
}

.go-red {
  color: $jr-emphasis;
}

.go-white {
  color:$jr-text-light;
}

.go-bold {
  font-weight: bold;
}

