/*-- Carousel -------------------------------------------------------------------------*/
.carousel {
  overflow: hidden;
  white-space: nowrap;
  z-index: $z-bg;
  &::before {
    content: "";
    display: block;
    padding-top: calc(25% - #{jr-spacer(0.8)});
  }

}
.page-banner, .carousel {
  font-size: 1.3rem;
  @include jr-size(screen) {
    font-size: 1.4rem;
  }
}

.carousel-container {
  position: absolute;

  left:0;
  width:100%;
  bottom:0;
  top: 0;
}

.slide {
  position: absolute;
  width: 100%;
  top:0;
  bottom: 0;
  left:0;
  transform: translateX(100%);
  transition: transform 600ms ease;
}
//using the carousel style to make matching banners on categories
.page-banner {
  padding:0;
  h2, div {
    position:absolute;
    width:calc(100% - 3rem);
  }
  h2 {
    top: 2%;
  }
  div {
    top: 10%;
  }
  span {
    display: block;
  }
}

.slide.is-active {
  z-index: $z-active;
  transform: translateX(0);

  [class^='slider-'] {
    transform: translateX(0);
    //these are split to account for delays of individual parts
    transition-duration: 800ms;
    transition-timing-function: cubic-bezier(0, .50, .50, 1);
    //transition-property: left, translateX;
  }
}

.slide.go-away {
  transform: translateX(-100%);
}

.carousel-blips {
  z-index: $z-active;
  position:absolute;
  bottom:0;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.blip {
  float: left;
  height: 10px;
  width:10px;
  border-radius: 5px;
  background: jr-grey(9);
  border: solid 1px jr-red(2);
  margin: 2px;
  cursor: pointer;
  &:hover {
    background: jr-grey(7);
  }
  &.active {
    background: $jr-emphasis;
  }
}

/*-- customisable carousel parts -----------------------------------------------------*/

%slide-all {
  width:calc(100% - 3rem);
  position: absolute;
  transform: translateX(100%);
}

.slider-image {
  top:0;
  left:0;
}

.slider-title {
  @extend %slide-all;
  transition-delay: 300ms;
  top: 0;
}

.slider-text {
  @extend %slide-all;
  transition-delay: 400ms ;
  top: calc(50% - 3rem);
  span {
    display: block;
  }
}

.slider-link {
  @extend %slide-all;
  bottom: 5%;
  text-decoration: underline;
  transition-delay: 500ms;
}

.go-left {
  left:3rem;
  text-align: left;
}

.go-mid {
  left: 1.5rem;
  text-align: center;
}

.go-right {
  right: 3rem;
  text-align: right;
}

.go-red {
  color: $jr-emphasis;
}

.go-white {
  color:$jr-text-light;
}

.slide:hover {
  .go-white {
    color: jr-grey(6.5);
  }
  .go-red {
    color: jr-red(2.5);
  }
}

.go-bold {
  font-weight: bold;
}

/* featured menu ----------------------------------------------------------------------*/

article.featured {
  //padding-top: 10%;
  @include jr-size(tabletOnly) {
    margin-top: 15rem;
  }
  @include jr-size(screen) {
    padding-left: calc(100%/3);
  }
}

.list-featured {
  background-size: cover;
  background-position: right;
  min-height: 120px;

  a {
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    padding:5px;
  }
  h2 {
    text-decoration: underline;
  }
  span {
    color: $jr-text-dark;
  }
  img {
    border-radius: inherit;
  }
}
