/*-- index page elements -----------------------------------------------------*/

.menu-featured {
  li {
    box-shadow: $jr-shadow;
    position: relative;
    @extend .flex-4;
    height: 120px;
    display: block;
    @include jr-size(screen) {
      height: auto;
    }
    overflow: hidden;
    background-color: $jr-bg-dark;
  }
  h3 {
    @extend %header-block;
    position:absolute;
    bottom:0;
    left: 0;
    border-top: $jr-border;
  }
  img {
    position: relative;
    height: 100%;
    margin-top: -25%;
    /*overwriting plugin*/
    width: 100% !important;
    padding:0 !important;
    @include jr-size(screen) {
      margin-top: 0;
    }
  }

}

.carousel {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  z-index: 0;
  @include jr-size(screen) {
    margin-bottom: jr-spacer(4);
  }
  @include jr-size(screen-hd) {
    margin-bottom: jr-spacer(1);
  }
}

.carousel:before{
  content: "";
  display: block;
  padding-top: 33%;
}

.carousel-container {
  position: absolute;
  top:0;
  bottom:0;
  left: 100%;
  width:100%;
  a {
    padding:0;
  }
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  left: 0;
  opacity: 1;
  text-align: center;
  [class^='slide-'] {
    position: absolute;
    opacity: 0;
  }
  a {
    height: 100%;
  }
  @include jr-size(tablet) {
    font-size: 1.4rem;
  }
}

.carousel-blips {
  top:jr-spacer();
  right:jr-spacer();
  z-index: 10;
  position: absolute;
}

.blipper {
  border-radius:50%;
  border: $jr-border;
  height: 10px;
  width: 10px;
  margin-bottom: 5px;
  &.active {
    background-color: $jr-emphasis;
  }
}

/*-- customisable carousel parts -----------------------------------------------------*/

.is-active {
  z-index: 5;

  [class^='slide-'] {
    opacity: 1;
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(0, .50, .50, 1);
  }
}

.go-away {
  left:-100%;
  transition: left 600ms ease;
}


%slide-all {
  width:100%;
}

.slide-image {
  top:0;
  left:0;
}

.slide-title {
  @extend %slide-all;
  transition-delay: 300ms ;
  top: 5%;
}

.slide-text {
  @extend %slide-all;
  transition-delay: 400ms ;
  top: 25%;
  span {
    display: block;
  }
}

.slide-link {
  @extend %slide-all;
  bottom: 5%;
  text-decoration: underline;
  transition-delay: 500ms ;
}

.go-left {
  left:-25%;
}

.go-mid {
  left: 0%;
}

.go-right {
  left: 25%;
}

.go-red {
  color: $jr-emphasis;
}

.go-bold {
  font-weight: bold;
}

