.default-page {
  .flex-container {
    margin-top: jr-spacer();
  }
  li {
    list-style:disc inside;
    padding-bottom: 5px;
  }
}

.has-frame {
  border:$jr-border;
  padding:2px;
}

.has-frame-dark {
  border:$jr-border-dark;
  padding:2px;
}
