.default-page {
  padding: jr-spacer();
  .flex-container {
    justify-content: space-between;
    margin-top: jr-spacer();
  }
  //to remove the paragraph blocks that WP puts - EDIT should no longer be needed
//  p:empty {
//    display: none;
//  }
  li {
    list-style:disc inside;
    padding-bottom: 5px;
  }
}



.has-frame {
  border:$jr-border;
  padding:2px;
}

.has-frame-dark {
  border:$jr-border-dark;
  padding:2px;
}
