/*-- default list Layout -----------------------------------------------------------*/

/*.shop-tile {
  @extend %floating-tile-base;
  background-color: white;
  position: relative;
  border-bottom: $jr-border-red;
  img {
    display: block;
  }
  a {
    text-decoration: none;
  }
}*/

.list-category, .list-item, .list-featured {
  padding: 0;
}

.list-group {
  border-radius: 0;
  margin-top: 4rem;
  border-left: $jr-border-red;
  border-right: $jr-border-red;
  > img {
    position: absolute;
    top:0;
    margin-top: -11%;
    left:0;
    width:100%;
  }
  > ul {
    position: relative;
    margin-top: 25%;
    width: 100%;
    max-width: 225px;
  }
}

.list-category {
  background-color: $jr-bg-light;
}

.list-item {
  padding-bottom: jr-spacer(2);
  font-size: 1.25rem;
  @extend %has-icon-before;
  &::before {
    z-index: 2;
    right:-9px;
    top: 5rem;
  }
}

.list-item.sold img {
  opacity:0.5;
}

.list-featured {
  overflow: hidden;
}

.extra-brands {
  border-top: $jr-border-dark;
  padding: jr-spacer();
  a {
    margin-left: jr-spacer(0.5);
    line-height: 1.5;
  }
}

.ss-length {
  position: absolute;
  padding: 0 5px;
  bottom: jr-spacer(2.5);
  right: jr-spacer(-0.25);
  border-radius: 2px;
  line-height: 1.2;
}
