/*-- default list Layout -----------------------------------------------------------*/

.shop-tile {
  background-color: white;
  box-shadow: $jr-shadow;
  a {
    width: 100%;
  }
  @extend %has-icon-before;
  &::before {
    right:-9px;
    top: 3.5rem;
  }
  @extend %has-icon-after;
  &::after {
    bottom: 0.5rem;
    right:0.1rem;
    transform: scale(0.75);
    transform-origin: bottom right;
  }

  padding-bottom: jr-spacer(2);
  ul {
    width:100%;
  }
  li {
    line-height: 1.5;
    @include jr-width(1,2);
    &:hover {
      background-color: $jr-bg-hover;
    }
  }
  div {
    @extend %header-block;

    &:first-child {
      border-bottom: $jr-border-dark;
    }
    &:last-child {
      font-size: 0.9rem;
      position: absolute;
      bottom: 0;
      border-top: $jr-border-dark;
      background-color: white;
    }
  }
}

.shop-items-nav {
  box-shadow: $jr-shadow;
  margin-bottom: jr-spacer();
  background-color: white;
}
