/*-- default list Layout -----------------------------------------------------------*/

.shop-tile {
  border-bottom: solid 3px $jr-emphasis;
  img {
    display: block;
  }
  a {
    width: 100%;
    height: inherit;
  }
  div {
    @extend %header-block;
    &:first-child {
      border-bottom: $jr-border-dark;
    }
    &:last-child {
      font-size: 0.9rem;
      position: absolute;
      bottom: 0;
      border-top: $jr-border-dark;
      background-color: white;
    }
  }
}
.shop-tile.group {
  margin-top: 4rem;
  img {
    margin-top: -15%;
  }
  ul {
    width:100%;
    justify-content: space-between;
  }
  li {
    line-height: 1;
    border-bottom: $jr-border;
    &:nth-of-type(odd){
      border-right: $jr-border;
    }
    width:50%;
    padding: jr-spacer(0.5) ;
    &:hover {
      background-color: $jr-bg-hover;
    }
  }
}

.shop-tile.item {
  padding-bottom: jr-spacer(2);

  @extend %has-icon-before;
  &::before {
    right:-9px;
    top: 3.5rem;
  }
}

.extra-brands {
  border-top: $jr-border-dark;
  padding: jr-spacer();
  a {
    margin-left: jr-spacer(0.5);
    line-height: 1.5;
  }
}

.nav-paginate {
  a {
    padding-right: jr-spacer();
  }
}

.ss-length {
  position: absolute;
  padding: 0 5px;
  bottom: jr-spacer(2.5);
  right: jr-spacer(-0.25);
  border-radius: 2px;
  line-height: 1.2;
}
