/*-- single item Layout ------------------------------------------------------*/


.item-gallery {
  padding: jr-spacer();
}

.item-info {
  font-size: 1.2rem;
}

.text-right {
  float: right;
}

.gallery-nav {
  position:absolute;
  top: calc(50% - #{jr-spacer()});
  width: jr-spacer(1);
  height: jr-spacer(1.5);
  background-color: $jr-bg-light;
  @extend %floating-button;
  cursor:pointer;
  &:hover, &:active {
    background-color: $jr-bg-hover;
  }
}

.gallery-nav.arrow-l {
  left:jr-spacer(-1);
}
.gallery-nav.arrow-r {
  right:jr-spacer(-1);
}

.item-dimensions {
  li {
    padding: 5px jr-spacer();
    &:nth-of-type(even) {
      background-color: $jr-bg-hover;
    }
  }
}

.item-thumbs {

  li {
    @include jr-width(1,2);
    margin-left: jr-spacer(0.5);
    margin-right: jr-spacer(0.5);
    cursor: zoom-in;

    &:hover, &:active {
      border: $jr-border-dark;
    }
    @include jr-size(screen) {
      @include jr-width(1,4);
    }
  }
}

.item-tile-inner {
  background-color: $jr-bg-light;
  border: $jr-border;
  margin-bottom: jr-spacer(0.5);
  position: relative;
  img {
    display: block;
  }
  em {
    position: absolute;
    bottom:0;
    width:100%;
    background: rgba($jr-bg-hover, 0.75);
    border-top: $jr-border;
  }
  a {
    width:100%;
  }
}


.shop-buttons {
  widtH:100%;
  border-top: $jr-border;
  button {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    @extend %floating-button;
    margin: jr-spacer(0.5);
    line-height: 2.5rem;
  }
}

.item-features {
  li {
    line-height: 2;
  }
}

/*modal popouts - enabled through js */
.modal {
  position: fixed;
  opacity: 0;
  width: 5%;
  height:5%;
  top: 45vh;
  z-index: 100;
  transition: 300ms ease;
 // overflow-y:auto;

}

.modal.image {
  img {
    object-fit: contain;
    object-position: center;
  }
}

.modal-spec, .modal-thumb {
  position: relative;
}

.modal-spec {
  border-bottom: $jr-border;
  width:calc(100% - 150px);
}

.modal-thumb {
  width:150px;
  padding: jr-spacer(0.5);
}

@supports (object-fit: contain) {
  .modal.image img {
    height: 100%;
  }
}

.modal.right {
  left:95%;
}

.modal-close {
  position: fixed;
  height: 64px;
  width:64px;
  right: calc(#{jr-spacer(1)} + 5%);
  cursor: pointer;
  background: rgba($jr-bg-dark,0.5);
  @include jr-size(screen) {
    width: 96px;
    height:96px;
  }
}

.modal.is-active,
.modal.is-active-small {
  left:5%;
  opacity: 1;
  width: 90%;
  height: 90%;
  top: 5%;
  &::before {
    content:"";
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(jr-grey(1), 0.75);
    z-index: -5;
  }
}

@include jr-size(screen) {
  .modal.is-active-small {
    left:calc(50% - 350px);
    width:700px;
    .modal-close {
      right: calc(50% - 330px);
    }
  }
}
