/*-- single item Layout ------------------------------------------------------*/

.item-features {
  li {
    line-height: 2;
  }
}

.item-info {
  font-size: 1.2rem;
}

.item-specs {
  li {
    padding:4px;
    &:nth-of-type(even) {
      background-color: $jr-bg-hover;
    }
  }
}

.gallery-primary {
  @include jr-width(1,1);
}

.item-thumb {
  @include jr-width(1,2);
  cursor: pointer;
  margin: jr-spacer(0.5);
  @include jr-size(screen) {
    @include jr-width(1,4);
  }
}


/* -- responsive page tabs ----------------------------------------------------------*/

.tab-toggle {
  position: absolute;
  right:jr-spacer(0.5);
  top:0;
  height:3rem;
  width: 100%;
  @include jr-size(screen) {
    display: none;
  }
}

.tabs-frame {
  > .tile-outer {
    height: 3rem;
    overflow: hidden;
    padding-top: 4px;
    position: relative;
    transition: height 300ms ease;
  }
  > .active {
    height: 90vh;
    padding-top: jr-spacer(0.5);
  }
  @include jr-size(screen) {
    > .tile-outer, > .active {
      height: auto;
    }
  }
  .tile-inner, .item-thumbs {
    overflow-y: auto;
    height: calc(100% - 4.5rem);
  }
}
