/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-colour;
	background-color: $RHC-DarkRed;
//	@include css-gradient($RHC-MedRed, $RHC-DarkRed);
	-webkit-font-smoothing: antialiased;
	min-width: 360px;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	/* on hover */
	&:hover, &:focus {
		color: $white;
		text-decoration: underline;
	}
	/* on click */
	&:active {}
	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	font-family: $serif;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	@include css-gradient($RHC-LightRed, $RHC-MedRed);
	width: 100%;
	height: 64px;
}

#inner-header {
	overflow: visible;
	a {
		border: solid 2px white;
	}
}

#logo {
	img {
		height: 64px;
	}
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	margin: 0;
	a {
		display: block;
		color: $white;
		text-decoration: none;
		padding: 0.75em;
		text-align: center;
	}
}

.top-nav {
	font-size: 1.5em;
	position: fixed;
	z-index: 99;
	top:0;
	right: 0;
	height:64px;
	width: 64px;
	background: $RHC-MedRed;
	overflow:hidden;
	li {
		float: right;
		width: 200px;
	}
	li:hover {
		background: $RHC-LightRed;
	}
	&:hover, &:active {
		height:auto;
		width: 200px;
	}
	&:before {
		display: block;
		height: 6px;
		border-radius: 2px;
		width:32px;
		content: '';
		float:right;
		margin: 29px 18px;
		text-align: center;
		background: $text-colour;
		box-shadow: 0 10px $text-colour, 0 -10px $text-colour;
	}
}

.btm-nav {
	li {
		float: left;
	}
}

.nav-btn {
	ul {
		width: 100%;
	}
	li {
		margin: 2px;
		width: 100%;
		float: left;
		position: relative;
	}
	img {
		width: 100%;
		height: auto;
		border: solid 2px $gray;
		box-shadow: 5px 5px 0 $black;
	}
	span {
		position: absolute;
		left: calc(0.5em + 2px);
		bottom: 1.25em;
		padding: 0.25em;
		font-size: 1.5em;
		background: rgba($black, 0.8);
	}
}

/*********************
BANNER STYLES
*********************/

#index-banner {
	background-image: radial-gradient(at bottom, #444, #0f0f0f);
	img {
		float:right;
		margin: 16px;
	}

}



/*********************
POSTS & CONTENT STYLES
*********************/

#main {
	img {
//		float: left;
		border: solid 2px $gray;
		margin: 10px;
		box-shadow: 5px 5px 0 $black;
	}
}


.hentry {
	margin-bottom: 1.5em;
	header {
		border-bottom: 1px solid $light-gray;
		padding: 1.5em;
	}
	footer {
		padding: 1.5em;
		border-top: 1px solid $light-gray;
		p {
			margin: 0;
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

.widgettitle {
//	width:100%;
	@include css-gradient($RHC-LightRed, $RHC-MedRed);
	border-radius:5px 5px 0 0;
	margin:0;
}

.widget {
	ul {
		li {
			&:first-child {}
			&:last-child {}
			a {}
			/* deep nesting */
			ul {}
		}
	}
}

.widget_sci_googlemaps_widget {
}


.sci-google-widget, .sci-contact {
	box-shadow: inset 0 4px 5px 2px $dark-gray;
	color: $RHC-DarkRed;
	background: $gray;
	border-radius:0 0 5px 5px;

}

.sci-contact {
	padding:4px;
}

#sci-google-map {
	position: relative;
	margin: 0 auto;
}

.no-widgets {
	background-color: $white;
	padding: 1.5em;
	text-align: center;
	border: 1px solid $border-color;
	border-radius: 2px;
	margin-bottom: 1.5em;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	@include css-gradient($RHC-LightRed, $RHC-MedRed);
	color: $light-gray;
}

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
.footer-links {
	ul {
		li {}
	}
}

/* end .footer-links */

.copyright {
	float: left;
	margin: 0.75em;
}
