/*---Frame Grid Defaults---------------------------------------------------------------*/

%flex-parent {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

%flex-child {
 // flex: 1;
//  margin: 0 $jr-margin $jr-margin 0;
  position: relative;
  background-color: white;
  box-shadow: 0 2px 4px rgba(#222,0.5);
  margin-bottom: $jr-margin;
  width:calc(100% - #{$jr-margin});
}

@mixin jr-flex($rows) {
  flex-basis: calc(#{100%/$rows} - #{$jr-margin})
}
