/*---Flex------------------------------------------------------------------------------*/

%flex-parent {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

%flex-child {
  flex-basis: calc(100% - #{$jr-margin});
//  margin: 0 $jr-margin $jr-margin 0;
  margin-bottom: $jr-margin
}

@mixin jr-flex($rows) {
  flex-basis: calc(#{100%/$rows} - #{$jr-margin})
}
