

@function jr-rhc-color($n) {
  $saturation: 10% * (10 - $n);
  $lightness: 10% * $n;
  @return hsl(0, $saturation, $lightness);
}

$NO-USE-example: hsl(5, 50%, 25%);

$jr-margin: 1rem;

//media query setup-----------------------------------------------------------*/

//base size (min);
$break-xs: 320px;
//tablet
$break-s: 481px;
//screen
$break-m: 1030px;
//hd screen
$break-l: 1240px;

@mixin jr_size($media) {
  @if $media == phoneOnly {
    @media only screen and (max-width: $break-s) { @content; }
  }
  @if $media == tablet {
    @media only screen and (min-width: $break-s + 1) { @content; }
  }
  @if $media == tabletOnly {
    @media only screen and (min-width: $break-s + 1) and (max-width: $break-m) { @content; }
  }
  @else if $media == screen {
    @media only screen and (min-width: $break-m + 1) { @content; }
  }
  @else if $media == screen-hd {
    @media only screen and (min-width: $break-l) { @content; }
  }
}

//flex-----------------------------------------------------------------------------------

@mixin jr-flex($rows, $full) {
  flex: 0 0 calc(#{$rows*100%/$full} - #{$jr-margin});
}

@mixin jr-flex-responsive($screen, $tablet:1, $phone:1) {

  @if ($phone > 1) {
    @include jr-size(phoneOnly) {
      @include jr-flex(1, $phone);
    }
  }
  @if ($tablet > 1) {
    @include jr-size(tablet) {
      @include jr-flex(1, $tablet);
    }
  } @else {
    @include jr-flex(1,1);
  }
  @include jr-size(screen) {
    @include jr-flex(1, $screen);
  }
}

