/*----Page Core --------------------------------------------------------------*/

html {
  font-size: 12px;
  @include jr-size(tablet) { font-size: 14px; };
  @include jr-size(screen) { font-size: 16px; };
  @include jr-size(screen-hd) { font-size: 18px; };
}

body {
  padding: 0 0 50px 0;
  min-height: 100%;
  line-height: 1.2em;
  background-color: jr-rhc-color(4);

}

section {
  background-color: jr-rhc-color(9.5);
  position: relative;
}

article {
  @extend %grid-1-1;
}

.container {
  max-width: 1000px;
  margin: 0 auto $jr-margin;
  @include cf();
  @include jr-size(screen-hd) { max-width:1200px };
}

.page-header {
  width:100%;
  background-image: linear-gradient(jr-rhc-color(3), jr-rhc-color(1));
  height: 6rem;

  img {
    height: 5rem;
    position:relative;
  }
  form {
    float:right;
  }
}



//  @include jr-size(phone) { width: 100% ;}
//  @include jr-size(tablet) { width: 125px; }
//  @include jr-size(screen) { float: none; }
