/*----Page Core --------------------------------------------------------------*/

html {
  font-size: 14px;
  @include jr-size(screen) { font-size: 18px; };
}

body {
  padding: 0;
  line-height: 1.2em;
  background-color: jr-rhc-color(4);
  min-width: 320px;
}

.page-header {
  width:100%;
  background-image: linear-gradient(jr-rhc-color(3), jr-rhc-color(1));
  height: 7rem;
  padding: $jr-margin;
  img {
    height: 5rem;
    position:relative;
  }
  form {
    float:right;
  }
}

section {
  background-color: white;
  position: relative;
  padding-top: $jr-margin;
  box-shadow: 0 0 10px jr-rhc-color(1);
}

article {
  @extend %flex-parent;
}

.article-header {
  margin:$jr-margin;
  border-bottom: 2px solid jr-rhc-color(9);
  @include jr-flex(1, 1);
  h3 {
    color: jr-rhc-color(5);
  }
}

footer {
  background-color: jr-rhc-color(2);
  height: 7rem;
  padding:$jr-margin;
}
