/*--- common page elements + defaults -------------------------------------------------*/

*, *::before {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin:  0 auto;
  @include jr-size(screen-hd) { max-width:1200px };
}

ul {
  padding:0;
  list-style: none;
  margin:0;
}

%flex-parent {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

%grid-tile {
  position: relative;
  background-color: white;
  box-shadow: 0 2px 4px rgba(#222,0.5);
  margin-bottom: $jr-margin;
  width:calc(100% - #{$jr-margin});
}

@mixin jr-flex($rows, $full) {
  flex-basis: calc(#{$rows*100%/$full} - #{$jr-margin})
}
