/*--- common page elements + defaults -------------------------------------------------*/

*, *::before {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin:  0 auto;
  @include jr-size(screen-hd) { max-width:1200px };
}

button {
  background-color: jr-rhc-color(4);
  border: none;
  color: white;
  height:1.5rem;
  width: calc(100% - #{$jr-margin});
  @extend %make-it-pop;
}

ul {
  padding:0;
  list-style: none;
  margin:0;
}

%flex-parent {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:flex-start;
}

%make-it-pop {
  box-shadow: 0 2px 4px rgba(#222,0.5);
  position: relative;
  margin-bottom: $jr-margin;
}

%has-icon {

}
