/*--- common page elements + defaults -------------------------------------------------*/

*, *::before {
  box-sizing: border-box;
}

button {
  background-color: $jr-colour-emphasis;
  border: none;
  color: white;
  height:1.5rem;
  width: calc(100% - #{$jr-margin});
  @extend %make-it-pop;
}

ul {
  padding:0;
  list-style: none;
  margin:0;
}

%make-it-pop {
  box-shadow: 0 2px 4px rgba($jr-colour-shadow,0.5);
  position: relative;
  margin-bottom: $jr-margin;
}

%header-block {
  width: 100%;
  background-color: $jr-colour-hover;
  min-height: 3rem;
  padding: 0.1rem 1rem;
}

/*--- grid ----------------------------------------------------------------------------*/

%flex-parent {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items:stretch;
}

%flex-1 {
  @include jr-flex(1,1);
}

@for $i from 2 through 6 {
  %flex-#{$i} {
    @extend %flex-1;

    @if $i > 2 {
      $half-i: ceil($i / 2);
      @include jr-size(tablet) { @include jr-flex(1,$half-i) };
    }

    @include jr-size(screen) { @include jr-flex(1,$i) };

  }
}

%flex-2-fixed {
  @include jr-flex(1,2);
}
