/*---header + footer ---------------------------------------------------------*/

.page-header, .page-footer {
  position: relative;
  width: 100%;
  background-color: jr-grey(2);
  border: 0 solid $jr-colour-emphasis;
  color: jr-grey(9);
  padding: 5px 0 ;
  height: 11rem;
  box-shadow: 0 2px 4px rgba($jr-colour-shadow, 0.5);
  z-index: 5;
  @include jr-size(screen) {
    height: 9rem;
  }
}

.page-header {
  border-bottom-width: 5px;
}

.header-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: jr-grey(1);
  height: 1.5rem;
  li {
    float: right;
    margin: 0.25rem;
  }
}

.header-icon, .header-links {
  position: absolute;
  bottom:0;
}

.header-links {
  right: 0;
  max-width: 400px;
  width: calc(60% - 1rem);
  border-left: solid 3px;
  padding-left: 5px;
 // bordeR:solid 1px pink;
  line-height: 38px;
  ul, form {
    float:left;
  }

  li {
    margin-right: 8px;
    @include jr-icon(before, none, $master: true) {
      transform-origin: top left;
    }
  }
 // height: 7rem;
}


.header-icon {
  width: calc(40% - 1rem);
  max-width: 250px;
}


$social-icons: linkedin, twitter, facebook;

@each $item-icon in $social-icons {
  .#{$item-icon} {
    float: left;
    width: 26px;
    @include jr-icon(before, $item-icon, $master: false) {
      transform: scale(0.2);
    }
    @include jr-size(screen) {
      width: 38px;
      @include jr-icon(before, $item-icon, $master: false) {
        transform: scale(0.3);
      }
    }
  }
}

$contact-icons: phone-w, email-w;

@each $item-icon in $contact-icons {
  .#{$item-icon} {
    padding-left: 32px;
    @include jr-icon(before, $item-icon, $master: false) {
      transform: scale(0.5);
      left: 0;
      top: 3px;
    }
  }
}

.header-search {
  z-index: 5;
  width:calc(100% - 146px);
  margin-right:8px;

  @include jr-size(screen) {
    input:focus {
      width: calc(100% + 134px);
      margin-right: -138px;
    }
  }

}

.page-footer {
  border-top-width: 5px;
}

.footer-menu {
  li {
    float:left;
    padding: 0.25rem;
    border-right: 3px solid;
  }
}

.copyright {
  padding: 0.25rem;
}
