nav {
  height: 2rem;
 overflow: hidden;
  &:active, &:hover {
    transition: 300ms ease;
  }

}

.menu-main {
  @extend %grid-1-1;
  float:left;
  position:relative;
  z-index: 3;
  background-color: white;

  h2, h3, li {
    padding:0 jr-margin(0.5);
    line-height: 2rem;
  }
  h2 {
    width:100%;
    background-color:jr-rhc-color(5);
  }
  h3 {
    color: jr-rhc-color(5);
  }
  li {
    &:active {
      background-color: #e0e0e0;
    }
  }
  ul {
    overflow-y: auto;
    ul {
      position: absolute;
      top:2rem;
      left:40%;
      display:none;
      border-left: 1px solid #e0e0e0;
      height:calc(100% - 2rem);
      background-color: #eee;
    }
  }
  @include jr-size(phoneOnly) {
    font-size: 1.2rem;
    text-align: center;
  }
  @include jr-size(tabletOnly) {
    li {
      width:50%;
      float:left;
    }
  }

  @include jr-size(tablet) {
    @include jr-grid(1,5);
  }
  @include jr-size(screen) {
    font-size: 0.8rem;
    li:hover {
      background-color: #e0e0e0;
      ul {
        display: block;
      }
    }
  }
}

.open {
    height:18rem;

  @include jr-size(tabletOnly) {
    @include jr-grid(1,1);
    margin-right: calc(#{$jr-margin} - 80%);
    height:10rem;
  }
  @include jr-size(screen) {
    @include jr-grid(1,5);
  }
}

.menu-home, .menu-not-home.open {
  @include jr-size(screen) {
    height:18rem;
    &:hover {
      @include jr-grid(1,2);
      margin-right: calc(-30% + 2px);
      ul ul {
        width:60%;
      }
    }
  }
}

.menu-breadcrumbs {
  @extend %grid-1-1;
  background-color:jr-rhc-color(8.5);

  a {
    line-height: 2;
    padding: 0 0.5rem 0 1rem;
    vertical-align:bottom;
    position: relative;
    &::after, &::before {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 1.5rem solid transparent;
      border-bottom: 1.5rem solid transparent;
      border-left: 0.5rem solid jr-rhc-color(8.5);
      position: absolute;
      top: 50%;
      margin-top: -1.5rem;
      left: 100%;
      z-index: 2;
    }
    &::before {
      margin-left:1px;
      border-left-color: jr-rhc-color(9.5);
    }
    &:last-of-type {
      background-color: jr-rhc-color(8);
    };
    &:last-of-type::after {
      border-left-color: jr-rhc-color(8);
    }
  }
  @include jr-size(tablet) {
    @include jr-grid(4,5)
      }
}

.menu-carousel {
  @extend %grid-1-1;
  background-color:jr-rhc-color(8.5);
  height:18rem;

  @include jr-size(screen) {
    @include jr-grid(4,5)
  };
}
