/*- menu parts -----------------------------------------------------------------------*/

nav {
  @extend %flex-parent;
  div {
    @extend %make-it-pop;
    height: 2rem;
  }
}



.nav-main {
  z-index: 3;
  @include jr-icon(search, 0, 80%);
  &.open {
    height: auto;
  }
  ul {
    overflow: hidden;
    background-color: white;
    height: calc(100% - 2rem);
    line-height: 2rem;
  }
  h2 {
    z-index: 10;
    width: 100%;
    background-color: jr-rhc-color(5);
    color: jr-rhc-color(1);
    padding-left: $jr-margin;
    line-height: 2rem;
  }
  li,
  h3 {
    padding-left: $jr-margin;
    &:active, &:hover {
      background-color: #e0e0e0;
    }
  }
  a,
  h3 {
    width: 100%;
  }
  @include jr-size(phoneOnly) {
    h2, li {
      text-align: center;
      padding-left: 0;
    }
  }
  @include jr-size(tabletOnly) {
    li {
      width: 50%;
      float: left;
    }
  }
  @include jr-size(screen) {
    font-size: 0.8rem;
    li {
      ul {
        display: none;
        position: absolute;
        left: 0;
        background-color: #eee;
        box-shadow: 0 0 4px rgba(#222, 0.6);
        top: -5px;
        min-height: calc(100% + 10px);
        width: 120%;
        left: 100%;
        font-size: 1.1rem;
      }
    }
    li:hover {
      ul {
        display: block;
      }
    }
    &.home,
    &.open {
      height: 18rem;
      margin-bottom: -15rem;
      &:hover {
        transition: 300ms ease;
      }
    }
  }
  @include jr-flex-responsive(5);
}

.nav-carousel, .nav-breadcrumbs {
  background-color:jr-rhc-color(8.5);
  overflow: hidden;

  @include jr-flex-responsive(1.25);
}

.nav-carousel {
  height:12rem;
  @include jr-size(screen) {
    height: 18rem;
  }
}

.nav-breadcrumbs {

  a {
    line-height: 2rem;
    padding: 0 0.5rem 0 1rem;
    vertical-align:bottom;
    position: relative;

    &::after, &::before {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 1.5rem solid transparent;
      border-bottom: 1.5rem solid transparent;
      border-left: 0.5rem solid jr-rhc-color(8.5);
      position: absolute;
      top: 50%;
      margin-top: -1.5rem;
      left: 100%;
      z-index: 2;
    }

    &::before {
      margin-left:1px;
      border-left-color: jr-rhc-color(9.5);
    }

    &:last-of-type {
      background-color: jr-rhc-color(8);
    };

    &:last-of-type::after {
      border-left-color: jr-rhc-color(8);
    }
  }
}
