/*--- custom reset---------------------------------------------------------------------*/

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  @include jr-size(screen) { font-size: 18px; };
}

body {
  background-color: $jr-bg-dark;
  min-width: 320px;
}

ul  {
  list-style: none;
  margin:0;
  padding:0;
}



img {
  width:100%;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  &:hover {
    color: $jr-text-hover;
  }
}
