/*--- common page elements + defaults -------------------------------------------------*/



%big-red-button {
  background-color: $jr-emphasis;
  border: none;
  color: white;
  height:1.5rem;
  width: calc(100% - #{$jr-margin});
}

%make-it-pop {
  box-shadow: $jr-shadow;
  position: relative;
  margin-bottom: $jr-margin;
}

%header-block {
  width: 100%;
  background-color: $jr-bg-hover;
  min-height: 3rem;
  padding: 0.1rem 1rem;
}
