
/* --- contact form default -----------------------------------------------------------*/

form {
  position: relative;
  color: $jr-text-dark;
}

input, label {

}
input {
  width: calc(100% - 4px);
  height:34px;
  background-color: $jr-bg-light;
  padding: 2px;
  border: none;
  @include jr-size(phoneOnly) {
    &:focus + label {
      display:none;
    }
  }
}

label {
  @include jr-icon(before) {
    transform: scale(0.5);
    transform-origin: top left;
    left: -28px;
    top:4px;
  }

  pointer-events: none;
  position:absolute;
  left:4px;
  margin-left: 24px;
//  top:4px;
}

@include jr-size(screen) {
  input, label {
    transition: transform 300ms ease, width 300ms ease;
  }
  input {
    &:focus + label {
      transform: translateX(calc(-40px - 100%));
      color: $jr-text-light;
      @include jr-icon(before, none, false)
    }
  }
}

$form-icons: (
  search,
  phone,
  email
);

@each $icon in $form-icons {
  input[name=#{$icon}] {
    & + label {
      @include jr-icon(before, #{$icon}, false)
    }
    &:focus + label {
      @include jr-icon(before, #{$icon + "-w"}, false)
    }
  }
}

//input[name="search"] {
//  & + label {
//    @include jr-icon(before, search, false)
//  }
//  &:focus + label {
//    @include jr-icon(before, search-w, false)
//  }
//}
//
//input[name="phone"] {
//  & + label {
//    @include jr-icon(before, phone, false)
//  }
//  &:focus + label {
//    @include jr-icon(before, phone-w, false)
//  }
//}
//
//input[name="email"] {
//  & + label {
//    @include jr-icon(before, email, false)
//  }
//  &:focus + label {
//    @include jr-icon(before, phone-w, false)
//  }
//}
