/*--- Page Core Elements -----------------------------------------------------*/

html {
  font-size: 14px;
  @include jr-size(screen) { font-size: 18px; };
}

body {
  padding: 0;
  line-height: 1.2rem;
  background-color: $jr-colour-bg;
  min-width: 320px;
}

.container {
  max-width: 1000px;
  height: 100%;
  margin:  0 auto;
  position: relative;
  @include jr-size(screen-hd) { max-width:1200px };
}

section {
  background-color: $jr-colour-bg-text;
  position: relative;
  box-shadow: 0 5px 10px $jr-colour-shadow;
}

article {

  @extend %flex-parent;

  & > div {
    background-color: white;
    @extend %make-it-pop;
  }
}

.page-header {
  margin: 1rem $jr-margin;
  @extend %flex-1;
}
